.App {
    text-align: center;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #dd1dbd;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #2bffd1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card-container {
    max-width: 600px !important;
}

.showlink {
    padding: 0.4rem 0.8rem;
    background-color: rgb(179, 179, 179);
    border-radius: 10px 10px 0 0;
    color: #2bffd1;
    text-decoration: none !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -10px;
    display: inline-block;
    position: relative;
    bottom: -10px;
}

.showlink:hover {
    background-color: white;
    color: pink;
}

.showlinkActive {
    background-color: white;
    color: pink;
}

.signuponloginpagelink {
    /* padding: 0.4rem 0.8rem; */
    /* border-radius: 3px; */
    /* color: #2bffd1; */
    /* text-decoration: none !important; */
    /* margin: 5px; */
    display: inline-block;
}

/* .signuponloginpagelink:hover {
    color: white;
    border: 2px solid white;
} */

.prevnext {
    padding: 0.4rem 0.8rem;
    background-color: #282c34;
    border-radius: 3px;
    color: white;
    text-decoration: none !important;
    margin: 5px;
    display: inline-block;
}

.hometext {
    padding: 0px 20px;
}

.hidden {
    display: none;
}

.charImg {
    width: 325px;
}

.card-shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}
