.App {
    text-align: center;
}

.App-logo {
    height: 40px;
    pointer-events: none;
    display: inline-block;
    margin: -10px;
}

.App-title {
    font-family: "Fredoka One", cursive;
    font-size: 64px;
    padding: 0px;
    margin: -5px;
}

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.App-header {
    background-color: #f7003a;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    font-family: "Epilogue", sans-serif;
    font-weight: bold;
}

/* .App-link {
    color: #2bffd1;
} */

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.card-container {
    max-width: 600px !important;
}

.showlink {
    padding: 0 0.8rem;
    padding-top: 0.2rem;
    background-color: #f7003a; /*tab color*/
    border-radius: 10px 10px 0 0;
    color: white; /*font color*/
    text-decoration: none !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -10px;
    display: inline-block;
    position: relative;
    bottom: -10px;
}

.showlink:hover {
    background-color: white;
    color: #ee2453;
}

.showlinkActive {
    background-color: #ffffff;
    color: #ef0000;
}

.signuponloginpagelink {
    /* padding: 0.4rem 0.8rem; */
    /* border-radius: 3px; */
    /* color: #2bffd1; */
    /* text-decoration: none !important; */
    /* margin: 5px; */
    display: inline-block;
}

/* .signuponloginpagelink:hover {
    color: white;
    border: 2px solid white;
} */

.prevnext {
    padding: 0.4rem 0.8rem;
    background-color: #282c34;
    border-radius: 3px;
    color: white;
    text-decoration: none !important;
    margin: 5px;
    display: inline-block;
}

.hometext {
    padding: 0px 20px;
}

.hidden {
    display: none;
}

.charImg {
    width: 325px;
}

.card-shadow {
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    box-shadow: #f7003ac7 5px 5px, #ee245386 10px 10px, #ee245360 15px 15px, #f57d997c 20px 20px, #fee6ec 25px 25px;
}

#name {
    font-family: "Fredoka One", cursive;
    font-size: xx-large;
}

#age,
#gender,
#bio,
#ld-likes {
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

.fw-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.d-flexjustify-content-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    align-content: stretch;

    margin-bottom: -15px;
}
